In [2]:
import numpy as np

In [4]:
a=np.array([[12,5,5,1,6],[6,2,0,0,3],[10,2,0,8,0],[10,2,0,8,0]])
b=np.array([[1,2],[3,4],[5,6],[7,8],[9,10]])

In [5]:
np.dot(a,b)

array([[113, 142],
       [ 39,  50],
       [ 72,  92],
       [ 72,  92]])

In [27]:
import pandas as pd

In [63]:
data=pd.read_excel(r"C:\Users\etisalat\Desktop\Etisalat Main Folder\Training Materials\Machine Learning\Final Material\assignment\Telco-Customer-Churn.xlsx")

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7041 non-null object
SeniorCitizen       7041 non-null float64
Partner             7043 non-null object
Dependents          7040 non-null object
tenure              7043 non-null int64
PhoneService        7041 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7038 non-null object
Churn               7040 non-null object
dtypes: float64(2), int64(1), object(18)
memory usage: 1.1+ MB

In [74]:
data["gender"].unique()

array(['Female', 'Male', nan], dtype=object)

In [67]:
data=pd.read_excel(r"C:\Users\etisalat\Desktop\Etisalat Main Folder\Training Materials\Machine Learning\Final Material\assignment\Telco-Customer-Churn.xlsx",na_values=[" ",":)"])

In [68]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0.0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7041 non-null object
SeniorCitizen       7041 non-null float64
Partner             7043 non-null object
Dependents          7040 non-null object
tenure              7043 non-null int64
PhoneService        7041 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7026 non-null float64
Churn               7040 non-null object
dtypes: float64(3), int64(1), object(17)
memory usage: 1.1+ MB

In [60]:
data.isnull().sum()

customerID           0
gender               2
SeniorCitizen        2
Partner              0
Dependents           3
tenure               0
PhoneService         2
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        17
Churn                3
dtype: int64

In [71]:
data["TotalCharges"].mean()
data["TotalCharges"].fillna(data["TotalCharges"].mean(),inplace=True)

In [72]:
data.isnull().sum()

customerID          0
gender              2
SeniorCitizen       2
Partner             0
Dependents          3
tenure              0
PhoneService        2
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               3
dtype: int64

In [50]:
data.dropna(subset=["TotalCharges"],inplace=True)

In [51]:
data.dropna(subset=["Churn"],inplace=True)

In [52]:
data.isnull().sum()

customerID          0
gender              2
SeniorCitizen       1
Partner             0
Dependents          3
tenure              0
PhoneService        2
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [65]:
n=0
for i in data["TotalCharges"]:
    if type(i) is not int and type(i) is not float:
        print("values=", i,"index=",n)
     
    n=n+1

values=   index= 488
values=   index= 753
values=   index= 936
values=   index= 1082
values=   index= 1340
values=   index= 3331
values=   index= 3826
values=   index= 4380
values=   index= 5218
values= :) index= 5398
values=   index= 6670
values=   index= 6754

In [73]:
data["TotalCharges"].astype("int")

0         29
1       1889
2        108
3       1840
4        151
5        820
6       1949
7        301
8       3046
9       3487
10       587
11       326
12      5681
13      2282
14      2686
15      7895
16      1022
17      7382
18       528
19      1862
20        39
21       202
22        20
23      3505
24      2970
25      1530
26      4749
27        30
28      6369
29      1093
        ...
7013    3756
7014    3645
7015    2874
7016      49
7017    1020
7018      70
7019     826
7020     239
7021     727
7022    7544
7023    6479
7024    3626
7025    1679
7026     403
7027     931
7028    4326
7029     263
7030      39
7031    3316
7032      75
7033    2625
7034    6886
7035    1495
7036     743
7037    1419
7038    1990
7039    7362
7040     346
7041     306
7042    6844
Name: TotalCharges, Length: 7043, dtype: int32

In [75]:
data.corr()

                SeniorCitizen    tenure  MonthlyCharges  TotalCharges
SeniorCitizen        1.000000  0.017031        0.220645      0.102332
tenure               0.017031  1.000000        0.247900      0.824458
MonthlyCharges       0.220645  0.247900        1.000000      0.649880
TotalCharges         0.102332  0.824458        0.649880      1.000000